langchain-core
langchain-mistralai
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-openai
notebook
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]